<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SwipeDesktop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SwipeDesktop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="bindingConfiguration" maxReceivedMessageSize="2147483647" sendTimeout="00:30">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basic" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="binaryHttpBinding" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint binding="basicHttpBinding" name="ICommandService" bindingConfiguration="basic" contract="ServiceLayer.IServiceFacade" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="cfead929-f181-4219-81b1-bf0e85064def" />
    <!--cfead929-f181-4219-81b1-bf0e85064def 3a9a7348-a002-430d-9143-38ab3b1fda4a-->
    <add key="LOGENTRIES_ACCOUNT_KEY" value="f4473a3b-fc23-43cc-b84a-a4c007513791" />
    <add key="serviceUrl" value="http://api.swipek12.com/json/wcf" />
    <add key="holdRecordsInQueue" value="false" />

    <add key="mode" value="Station" />

    <!--<add key="school" value="18750003"/>-->
    <!--VisitorKiosk / Station-->
  
    <add key="duplex" value="true" />

    <!--VisitorKiosk-->
    <add key="RedisConfig" value="{Database:1,Save:'60 1'}" />
    <!--http://api.swipek12.com/json/wcf-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="syncInterval" value="30" />
    <add key="scaleFactor" value=".75" />

    <add key="ListenPort" value="57" />
    <add key="DuplexingEdge" value="2" />
  </appSettings>
  <connectionStrings>
    <add name="ScanStation" connectionString="Server=.\sqlexpress;Initial Catalog=SwipeDesktop;Integrated Security=true;User ID=sa;Password=Bayliner9;" />
    <add name="SwipeDesktop.Settings.SwipeDesktopConnectionString"
      connectionString="Server=.\sqlexpress;Initial Catalog=SwipeDesktop;Integrated Security=true;User ID=sa;Password=Bayliner9" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <SwipeDesktop.Settings>
      <setting name="ScanLicenseKey" serializeAs="String">
        <value>499994CE2CWJCEBQ</value>
      </setting>
      <setting name="SDKLicense" serializeAs="String">
        <value>Y9G9MFWJLWPCUW6C</value>
      </setting>
      <setting name="Calibrate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="elastic_email_api_key" serializeAs="String">
        <value>134a88e5-0354-4fd2-b7bf-e529eea780fd</value>
      </setting>
      <setting name="elastic_email_user" serializeAs="String">
        <value>jonc@swipek12.com</value>
      </setting>
      <setting name="sender_name" serializeAs="String">
        <value>Do Not Reply</value>
      </setting>
      <setting name="sender_email" serializeAs="String">
        <value>support@swipek12.com</value>
      </setting>
      <setting name="ImageUrl" serializeAs="String">
        <value>http://www.swipek12.com/SWIPEDATA/{0}/Pictures/{1}</value>
      </setting>
      <setting name="AlertMessage" serializeAs="String">
        <value>{0}</value>
      </setting>
      <setting name="BarcodeDevice" serializeAs="String">
        <value>IdInnovations, Serial</value>
      </setting>
      <setting name="DisplayText" serializeAs="String">
        <value>Welcome</value>
      </setting>
      <setting name="faceOffsetX" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="faceOffsetY" serializeAs="String">
        <value>340</value>
      </setting>
      <setting name="faceZoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DeviceName" serializeAs="String">
        <value>73 Series</value>
      </setting>
      <setting name="JsonUrl" serializeAs="String">
        <value>https://station-api.swipek12.com/dataservice/</value>
      </setting>
    </SwipeDesktop.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
	  <loadFromRemoteSources enabled="true"/>
  </runtime>
  <log4net>
    <appender name="LeAppender" type="log4net.Appender.LogentriesAppender, LogentriesLog4net">
      <Debug value="true" />
      <HttpPut value="false" />
      <Ssl value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%property{hostname}] [%level%] %d{ddd MMM dd HH:mm:ss zzz yyyy} %logger %: %m" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log4net.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger: %-5level %date{yyyy-MM-dd HH:mm:ss} - %message%newline %newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LeAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SwipeDesktop.Settings>
      <setting name="School" serializeAs="String">
        <value>Swipe High School</value>
      </setting>
      <setting name="SchoolId" serializeAs="String">
        <value>11102495</value>
      </setting>
      <setting name="ImagesFolder" serializeAs="String">
        <value>c:\Temp\Images\</value>
      </setting>
      <setting name="StartupCode" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupPeriod" serializeAs="String">
        <value />
      </setting>
      <setting name="SoundsFolder" serializeAs="String">
        <value>c:\Temp\Sounds\</value>
      </setting>
      <setting name="PrintPasses" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupScanMode" serializeAs="String">
        <value>Location</value>
      </setting>
      <setting name="AlertStartDate" serializeAs="String">
        <value>2015-09-01</value>
      </setting>
      <setting name="PassPrinter" serializeAs="String">
        <value>STAR</value>
      </setting>
      <setting name="TardyAlertCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PvcPrinter" serializeAs="String">
        <value>STAR</value>
      </setting>
      <setting name="TempIdPrinter" serializeAs="String">
        <value>STAR</value>
      </setting>
      <setting name="StudentIdTemplateName" serializeAs="String">
        <value />
      </setting>
      <setting name="TempIdTemplateName" serializeAs="String">
        <value />
      </setting>
      <setting name="MarkPresentInLocationMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeStaff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrintOffsetY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrintScaleFactor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectedGroup" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedPassType" serializeAs="String">
        <value>Separate Pass and Alert</value>
      </setting>
      <setting name="KioskImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="StudentKioskEntry" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SuppressIdOnPass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DuplexSetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VisitorKioskEntry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowKioskTardyPass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowKioskLocation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowKioskLocationPass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowKioskSearchName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowKioskDismissalPass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KioskLocation" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="TakeAttendance" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlMasterIp" serializeAs="String">
        <value>www.swipek12.com,8003</value>
      </setting>
      <setting name="EnableLunchAlerts" serializeAs="String">
        <value>False</value>
      </setting>
    </SwipeDesktop.Settings>
  </userSettings>
</configuration>
